<!-- <div class="player-div">
  <div class="grid-layout" style="justify-self: center;align-self: center;">
    <div class="player-card" style="justify-self: center;align-self: center;">
      <div class="player-header">
        <div style="justify-self: center; align-self: center;display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;">
          <div style="justify-self: center; align-self: center;color: #000002;font-family: Roboto;font-size: 14px;">{{nowPlaying}}</div>
        </div>
        <app-waveform></app-waveform>
        <div class="player-menu">
          <button mat-menu-item (click)="file.click()">
            <mat-icon aria-label="open folder">create_new_folder</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">skip_previous</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">play_arrow</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">skip_next</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">volume_down</mat-icon>
          </button>
          <input type="file" #file style="display:none" (change)='changeListener($event)' accept="audio/*" multiple/>
        </div>
      </div>
      <div class="player-body" style="overflow: hidden;">
        <div class="player-column-one">
          <div style="display: grid;  perspective: 800px;">
            <app-image [imageUrl]="imageUrl" class="image-container" [@flipImage]="state"></app-image>
            <div class="div-text">
              {{albumName}}
            </div>
          </div>
        </div>
        <app-tableview class="player-table-view"></app-tableview>
      </div>
    </div> 
  </div>
</div> -->
<div class="player-div">
  <div class="grid-layout" style="justify-self: center;align-self: center;">
    <div class="player-card" style="justify-self: center;align-self: center;">
      <div class="player-header">
        <div style="justify-self: center; align-self: center;display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;">
          <div style="justify-self: center; align-self: center;color: #000002;font-family: Roboto;font-size: 14px;">{{nowPlaying}}</div>
        </div>
        <app-waveform></app-waveform>
        <div class="player-menu">
          <button mat-menu-item (click)="file.click()">
            <mat-icon aria-label="open folder">create_new_folder</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">skip_previous</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">play_arrow</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">skip_next</mat-icon>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="open folder">volume_down</mat-icon>
          </button>
          <input type="file" #file style="display:none" (change)='changeListener($event)' accept="audio/*" multiple/>
        </div>
      </div>
      <!-- <div class="player-body" style="overflow: hidden;">
        <div class="player-column-one">
          <div style="display: grid;  perspective: 800px;">
            <app-image [imageUrl]="imageUrl" class="image-container" [@flipImage]="state"></app-image>
            <div class="div-text">
              {{albumName}}
            </div>
          </div>
        </div>
        <app-tableview class="player-table-view"></app-tableview>
      </div> -->
    </div> 
  </div>
</div>