<div class="grid-layout">
  <div>
    <mat-list class="mat-list-style">
      <mat-list-item>
        <input class="input-style" placeholder="Filter Artists"  type="text" >
      </mat-list-item>
      <mat-list-item mat-ink-ripple class="" *ngFor="let artist of artists" 
      [id]="artist._id" (click)="flattenArtist($event)" 
      [ngClass]="{'playlist-item-style-selected': selectedArtistId === artist._id ,  'playlist-item-style': selectedArtistId!==artist._id}" >
        <!-- <mat-icon matListIcon class="icon-style">{{artist.name}}</mat-icon> -->
        <div class="div-text">{{artist.ArtistName}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="grid-layout-detail">
    <div class="div-text grid-layout-header">
      <div style="display: flex; flex-direction: column;margin: 20px 20px 20px 20px;min-width: 100%">
        <div class="div-text" style="font-size: 36px; font-weight: 500; margin: 0px 0px 10px 0px"> 
          {{selectedArtistName}}
        </div>
        <div style="margin: 5px 0px 0px 0px">
          <span>{{totalSelArtistAlbums}} Albums
            <span class="dot"></span> {{totalSelArtistTracks}} Songs
            <span class="dot"></span> 42 Hours</span>
        </div>
      </div>
      <div style="display: flex;justify-content: center; align-items: center;">
        <button mat-mini-fab style="background:hsla(36, 100%, 50%, 1) ">
          <mat-icon aria-label="open folder" style="color: #3e3e3e;">more_vert</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div style="overflow-y: auto"> 
        <app-album-detail [album]="album" *ngFor="let album of artistAlbums; let i = index" style="margin: 0px 0px 20px 0px"></app-album-detail>
    </div>
  </div>
</div>
