
.mat-table {
  overflow: auto;
  height: 100%;
  border-radius: 0px 0px 0px 0px;
  background: whitesmoke;
  user-select:none;
}

.mat-cell-header {
  font-size: 14px;
}

.mat-cell-position {
  flex: 0 0 5%;
}

.mat-cell-selection {
  flex: 0 0 5%;
  justify-content: center
}

.mat-cell-song {
  flex: 0 0 35%;
}

.mat-cell-album {
  flex: 0 0 30%;
}

.mat-cell-time {
  flex: 0 0 10%;
}

.mat-cell-year {
  flex: 0 0 5%;
}

.mat-cell-rating {
  flex: 0 0 5%;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: #E0E0E0;
  z-index: 9999;
}

.mat-footer-row {
  position: sticky;
  bottom: 0;
  background: #E0E0E0;
  z-index: 9999;
}

.grid-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
}

.grid-layout-two-columns {
  grid-template-columns: 100%;
  // grid-template-columns: 10% 90%;
}

.clicked-row {
  /* border-left: 5px solid #282364;  */
  background-color:  #ffd56196
}
  
.selectedRow {
  background-color:  #ffd56196
}
  
.selectedRowClc{
  background-color:  #ffd56196
}

.table-row-style:hover {
   background-color:  rgba(80, 80, 80, 0.075); 
}

:host/deep/ .mat-menu-panel {
  border-radius: 5px !important;
  background-color: whitesmoke;
}

.mat-menu-item {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
}