<!-- Slide Menu-->
<!-- <aside >
  <nav >
    <section >
     
    </section>
    <section >

    </section>
    <section >

    </section>
  </nav>
</aside> -->

<div class="root-container">
  <header class="header-container">
    <input type="search" placeholder="Find your music" style="justify-self: center;align-self: center;">
    <!-- <mat-icon style="justify-self: end;align-self: center;">menu</mat-icon> -->
  </header>
  <app-tab class="nav-bar"></app-tab>

  <main [@routeAnimation]="getState(routerOutlet)" class="main-container">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer-container-main">
     <app-footer style="display: grid; grid-template-columns: 100%"></app-footer>
  </footer>
</div>
