.root-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48px auto 58px;
  /* grid-template-rows: 40px 48px auto 88px; */
  height: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(22, 34, 56, 0.9);
  z-index: 102;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.nav-bar {
  z-index: 101;
  display: flex;
  height: 48px;
  flex-direction: row;
  align-items: flex-end;
  
}

.main-container {
  z-index: 100;
  position: relative;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

router-outlet + * {
 height: 100%;
 
}

.footer-container-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background: rgba(22, 34, 56, 0.9);
  -webkit-app-region: no-drag;
  box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 102;
}

input[type="text"] {
  -webkit-app-region: no-drag;
  color: whitesmoke;
  font-size: 14px;
  font-style: normal;
}

:host/deep/  .mat-form-field-underline {
  background-color: #ffd561;
  opacity: 0.89;
}

/* :host/deep/  .mat-form-field-infix {
  border-top: none;
} */

/* :host/deep/  .mat-form-field-flex {
  height: 40px;
} */

:host/deep/ .mat-form-field-label {
  color: darkgray;
  opacity: 0.54;
  /* font-size: 14px; */
  font-style: normal;
  align-self: center;
}

/* :host/deep/ .mat-form-field-label-wrapper {
  top: -6.9
} */