<!-- Slide Menu-->
<!-- <aside >
  <nav >
    <section >
     
    </section>
    <section >

    </section>
    <section >

    </section>
  </nav>
</aside> -->

<div class="root-container">
  <header class="header-container">
    <!-- <input type="search" placeholder="Find your music" style="justify-self: center;align-self: center;"> -->
    <!-- <mat-form-field style="width: 50%; margin: 0px 10px 0px 0px" [floatLabel]="never">
      <input style="caret-color: whitesmoke" type="text" placeholder="Search" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="value" (keyup)="search($event)">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon style="color: whitesmoke">close</mat-icon>
      </button>
      <button mat-button *ngIf="value===''" matSuffix mat-icon-button aria-label="Search">
        <mat-icon style="color: whitesmoke">search</mat-icon>
      </button>
    </mat-form-field> -->
    <app-tab class="nav-bar"></app-tab>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>



  </header>

  <main [@routeAnimation]="getState(routerOutlet)" class="main-container">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer-container-main">
    <app-footer style="display: grid; grid-template-columns: 100%"></app-footer>
  </footer>
</div>