<div class="main-grid-layout">
  <div class="main-grid-layout image-container">
    <!-- {{album.Name}} -->
    Thriller
  </div>
  <div class="main-grid-layout detail-container">
    <div class="detail-container detail-header">
      Thriller
      <mat-divider></mat-divider>
    </div>
    <mat-list dense class="detail-container detail-body">
      <mat-list-item *ngFor="let track of currentTracks; let i = index">
        <div style="display: grid; grid-template-columns: 30px auto; height: 80px;">
          <div class="album-text" style="align-self: center">{{i+1}}</div>
          <div style="align-self: center;font-size: 14px">
            <span style="margin: 10px">{{track.Name}}</span>
            <br>
            <span *ngIf="track.Name.length<50 && track.Artist!=null" style="margin: 10px;font-size: 12px;color: darkgrey">{{track.Artist}}</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
