@import '../../style.vars';
@import '../../style.extend';

$opacity: 0.8;

.main-grid-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  @extend %div-text;
  margin: 0px 0px 20px 0px;

  &.image-container {
    display: flex;
    margin: 10px 10px 10px 10px;

  }

  &.detail-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto;

    &.detail-header {
      min-height: 100px;
      background: green;
    }

    &.detail-body {
      background: pink;
    }

  }

}

.text {
  @extend %div-text;
}



