@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'style.vars';

.body-container {
  -webkit-app-region: drag;
  overflow: hidden;
}

html,
body {
  background-color: $app-background;
  margin: 0;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none;
}
