$primary-color: #3e3e3e;
$app-background:  rgba(255, 255, 255, 0.3);
$secondary-color: whitesmoke;
$accent-color: hsla(36, 100%, 50%, 1);
$second-accent-color:  #ffd561;
$font-stack: Roboto,Helvetica, sans-serif;
