<div class="card-container">
  <div class="card-wrapper" *ngFor="let album of albums;let i=index" [ngClass]="{'blurred': isFlipped==='true' && album.Selection==='close', 'zopen': album.IndexZ==='zOpen'}">
    <div (click)="onClick($event,album)" class="img-wrapper" [id]="i">
      <img class="img-class" [ngClass]="{'img-class-animate': album.Selection==='open'}" [src]="album.ImageUrl" alt="..." *ngIf="album.ImageUrl!= 'None'">
      <img class="img-class" [src]="noimage" alt="..." *ngIf="album.ImageUrl == 'None'">
      <div class="play-album-sm">
        <button mat-mini-fab color="white">
          <mat-icon aria-label="play arrow">play_arrow</mat-icon>
        </button>
      </div>
    </div>

    <div class="album-text">
      {{album.Name}}
      <span *ngIf="!album.Name">Unknown</span>
    </div>
    <div class="album-text">
      {{album.Artist}}
    </div>
    <div [id]="i" #albumDetail class="album-detail" *albumDetailViewIf="album.Selection" [@flipStateTrigger]="{value:isFlipped,params: {albDetHgt: albDetHgt}}"
      (@flipStateTrigger.start)="flippingStarted($event,album)" (@flipStateTrigger.done)="flippingDone($event,album)">
      <div class="grid-layout" style="width:inherit; height: inherit;overflow: hidden;">
        <div style="justify-self: center; margin: 2em" class="img-wrapper">
          <img class="image-container" [src]="album.ImageUrl" alt="..." *ngIf="album.ImageUrl!= 'None'">
          <img class="image-container" [src]="noimage" alt="..." *ngIf="album.ImageUrl == 'None'">
          <div class="play-album">
            <button mat-fab color="white">
              <mat-icon aria-label="play arrow">play_arrow</mat-icon>
            </button>
          </div>
        </div>
        <div style="display: grid;grid-template-rows: 60px 40px auto">
          <div class="album-text" style="align-self:self-end;font-size: 20px;">
            {{album.Name}}
          </div>
          <div style="display: flex">
            <button mat-menu-item>
              <mat-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-menu-item>
              <mat-icon>add_to_queue</mat-icon>
            </button>
            <button mat-menu-item>
              <mat-icon>playlist_add</mat-icon>
            </button>
          </div>
          <div>
            <mat-list #albumTracks dense style="height: inherit;">
              <mat-list-item *ngFor="let track of currentTracks; let i = index">
                <div style="display: grid; grid-template-columns: 30px auto; height: 80px;">
                  <div class="album-text" style="align-self: center">{{i+1}}</div>
                  <div style="align-self: center;font-size: 14px">
                    <span style="margin: 10px">{{track.Name}}</span>
                    <br>
                    <span *ngIf="track.Name.length<50 && track.Artist!=null" style="margin: 10px;font-size: 12px;color: darkgrey">{{track.Artist}}</span>
                  </div>
                </div>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
