.img-class {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.img-class:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.img-class-animate {
  transform: scale(1.025);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: calc(100vw - 700px);
  height: calc(100vw - 700px);
  max-height: 300px;
  max-width: 300px;
  box-shadow: 0 8px 6px -10px black;
  overflow: hidden;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.img-wrapper {
  position: relative;
}

.img-wrapper:hover .play-album-sm {
  opacity: 0.8;
} 

.play-album-sm, .play-album{
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.album-text {
  margin-top: 5px;
  font-family: roboto;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-row-gap: 10px;
  grid-auto-rows: minmax(max-content, 190px);
  overflow-x: hidden;
  /* height: calc(100vh - 192px); */
  height: 100%;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}

.card-wrapper {
  max-width: calc(100vw - 700px);
  z-index: 0;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  will-change: filter;
}

.album-detail {
  position: relative;
  /* background-color: whitesmoke; */
  background: linear-gradient(to top, #FDFFFC, #FDFFFC); 
  width: calc(100vw);
  height: 100%;
  margin-top: 5px;
  /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12); */

  box-shadow:        inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
}

.shadow {
  position: relative;
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.blurred {
  /* animation-name: blur; */
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

.nonblurred {
  /* animation-name: nonblur; */
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

@keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(5px);
  }
}

@keyframes nonblur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

.zopen {
  z-index: 111;
}

.zclose {
  z-index: 0;
}

.div-text {
  margin-top: 5px;
  font-family: roboto;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.grid-layout:hover .play-album {
  opacity: 0.8;
}

.player-column-one {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 20px auto;
}

